# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# VEs
.venv/
venv/
ENV/
env/

# IDEs & Editors
.vscode/
.idea/
*.iml

# OSs
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Distributions
build/
dist/
*.egg-info/
.eggs/

# Logs
*.weights
*.h5
*.pkl