# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# VE
.venv/
venv/
ENV/
env/

# IDE & Editor
.vscode/
# PyCharm / JetBrains
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Distribution
build/
dist/
*.egg-info/
.eggs/

# Logs
*.weights
*.h5
*.pkl